__pycache__/
*.pyc
**/_legacy/
.vscode/
.idea/
.codex
dev_scratch/data_src/**/*.pkl
dev_scratch/data_src/**/*.nc
dev_scratch/data_proc/**/*.pkl
dev_scratch/data_proc/**/*.nc
dev_scratch/data_proc/**/*.npz
.mplconfig_test/
dev_scratch/results/**/*.png
