__pycache__/
*.pyc
**/_legacy/
.vscode/
.idea/
.codex
dev_scratch/data_src/**/*.pkl
dev_scratch/data_src/**/*.nc
dev_scratch/data_proc/**/*.pkl
dev_scratch/data_proc/**/*.nc
dev_scratch/data_proc/**/*.npz
.mplconfig_test/
dev_scratch/results/**/*.png
external/
.mplcache/
dev_scratch/data_proc/a1_lfp_30s_0/*_cache/
.agents/
dev_scratch/data_src/hpc_remote/
